hiiiiii

<footer role="contentinfo" class="mt-4 {{ footer_classes }}">
  <div class="{{ b5_top_container }}">
    {% if page.footer %}
      {{ page.footer }}
    {% else %}
      <div class="text-center">Copyright 2024</div>
    {% endif %}
  </div>
</footer>
