body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
nav#block-ajman-sidebarmenu {
    background: #143e6d;
    color: #fff;
    border-radius: 20px;
    padding: 25px;
    margin: 40px 20px;

    ul.nav {
        li {
            
            padding: 6px 0 6px 0px;
            a {
                font-weight: bold;
                font-size: 16px;
                color: #fff;
                padding: 18px;
                padding-left: 3.25em;
                svg {
                    padding-right: 10px;
                }
                .is-active {
                    background: #4097b5;
                    border: 1px solid #fff;
                    border-left: 3px solid;
                    border-radius: 2px;
                }
            }
            a.active {
                 border: 2px solid #fff;
                 background-color:  #4097b5;
                 border-radius: 5px;
                 border-left: 5px solid  #fff;;
            }
        }
        
    }
}

ul.navbar-nav {
    li.nav-item {
        padding-right: 10px;
        
        a.is-active {
            color: #54bed5;
        }
    }
}

form#node-services-form {
    font-family: "Roboto", sans-serif;
    label, h4.label {
        display: inline-block;
        font-size: 14px;
        padding-bottom: 10px;
    }
    .form-control {
        padding: 13px;
    }
}

.paragraphs-add-wrapper {
    text-align: center;
    border: 2px solid;
    border-color: #54bed5;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;

    .field-add-more-submit  {
        color: #54bed5;
        font-size: 17px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        position: relative;
    }
    .field-add-more-submit:active {
        border: none;
    }
}

.user-info .btn-group .card .row > * {
    width: fit-content;
    max-width: fit-content;
}

.field-elloborate-wrapper,
#edit-field-service-0-subform-field-elloborate-wrapper {
    display: none;
}
  